html {
  font-size: 65%;
}

body {
  margin: 0;
  font: 300 12px/1.5 "DejaVuSans", "sans-serif";
  color: #000000;
  background: 	#484848
  overflow: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}